{% extends "my_account_base.html" %}
{% block title %}<title>List of Posts</title>{% endblock %}
{% block main_tab %}
{% if posts %}
<ul>
	{% for post in posts.object_list %}
	<li id="title">
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</li>
	<li id="details">
		{% autoescape off %}
			{{ post.details|truncatewords:50 }}
		{% endautoescape %}
		<a href="{{ post.get_absolute_url }}">More</a>
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p>You haven't posted anything so far!</p>
{% endif %}
		<p class="step-links">
        	{% if posts.has_previous %}
            	<a href="?page={{ posts.previous_page_number }}">previous</a>
	        {% endif %}
	
    	    <span class="current">
        	    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
	        </span>
	
    	    {% if posts.has_next %}
        	    <a href="?page={{ posts.next_page_number }}">next</a>
	        {% endif %}
		</p>
{% endblock %}
