{% extends "my_account_base.html" %}
{% block title %}<title>Change Password</title>{% endblock %}
{% block main_tab %}
<form action="" method="post">
	<ol>
		<li>
			{{ form.old_password.label_tag }}
			{{ form.old_password }}
			{% if form.old_password.errors %}
				<span class="errors">{{ form.old_password.errors|striptags }}</span>
			{% endif %}
		</li>
		<li>
			{{ form.new_password1.label_tag }}
			{{ form.new_password1 }}
			{% if form.new_password1.errors %}
				<span class="errors">{{ form.new_password1.errors|striptags }}</span>
			{% endif %}
		</li>
		<li>
			{{ form.new_password2.label_tag }}
			{{ form.new_password2 }}
			{% if form.new_password2.errors %}
				<span class="errors">{{ form.new_password2.errors|striptags }}</span>
			{% endif %}
		</li>
	</ol>
		<input type="submit" class="submit" value="Change password" />
</form>
{% endblock %}
