{% extends "base.html" %}
{% block title %}<title>Confirm password reset</title>{% endblock %}
{% block content %}
<div class="password_recovery">
Enter your new password below to reset your password:
<form action="" method="post">
	<ol>
		<li>
			{{ form.new_password1.label_tag }}
			{{ form.new_password1 }}
			{% if form.new_password1.errors %}
				<span class="errors">{{ form.new_password1.errors|striptags }}</span>
			{% endif %}
			</li>		
		<li>
			{{ form.new_password2.label_tag }}
			{{ form.new_password2 }}
			{% if form.new_password2.errors %}
				<span class="errors">{{ form.new_password2.errors|striptags }}</span>
			{% endif %}
		</li>
	</ol>
		<input type="submit" class="submit" value="Set password" />
</form>
</div>
{% endblock %}
