{% extends "base.html" %}
{% block title %}<title>Reset password</title>{% endblock %}
{% block content %}
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.
<div class="password_recovery">
<form method='post' action=''>
	<ol>
		<li>
			{{ form.email.label_tag }}
			{{ form.email }}
			{% if form.email.errors %}
				<span class="errors">{{ form.email.errors|striptags }}</span>
			{% endif %}
		</li>
	</ol>
		<input type="submit" class="submit" value="Reset password" /></td></tr>
</form>
</div>
{% endblock %}
